html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul, nav {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
} */
.subscription{
    padding: 130px 0 27px 0;
    font-family: 'Noto Sans TC', sans-serif;
}
.subscription .subscriptionContainer{
    width: 1200px;
    margin: auto;
    text-align: center;
}    
.subscription .subscriptionContainer h2{
    font-size: 36px;
    margin: 0 0 28px 0 ;
    font-weight: 500;
}
.subscription .subscriptionContainer h2::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 225px;
    height: 60px;
    background-image: url("../img/outline.png");
    top: 125px;
    right: 850px;
  }
.subscription .subscriptionContainer .subscriptionContent{
    font-size: 16px;
    line-height: 36px;
    margin: auto;
}
.subscription .subscriptionContainer .subscriptionContent p{
    margin:auto;
    /* width: 630px; */

}
.subscription .subscriptionContainer .subscriptionContent p:nth-child(1){
    width: 630px;
    margin-bottom: 40px;
}
.subscription .subscriptionContainer .subscriptionContent p:nth-child(2){
    width: 683px;
    margin-bottom: 40px;
}
.subscription .subscriptionContainer ol{
    display: flex;
    width: 100%;

    margin-bottom: 50px;
}
.subscription .subscriptionContainer ol li{
    margin: 0 25px;
    width: 33.3%;
}
.subscription .subscriptionContainer button{
    width: 342px;
    border: none;
    display: block;
    margin: 0 auto;
}
.subscription .subscriptionContainer button img{
    width: 100%;
}
