#salePoints{
  width: 100%;
  min-height: 100vh;
  .container{
    width: 900px;
    position: relative;
  }


}


#first{
  margin: 0 0 20px 0;
}
#second{
  margin: 0 0 20px 0;
}
#third{
  padding: 130px 0 28px 0;
  font-size: 36px;
}
.map{
  display: inline-block
}
.map::before{
  content: "";
  width: 150px;
  height: 245px;
  background-image: url(img/gridSmaill.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 613px;
  left: 850px;
  z-index: -1;

  
}
#locations{
  position: fixed;
  position: absolute;
  top: 150px;

}
footer{
  width: 100%;
  height: 50px;
  background-color: seashell;
}