.fixedPoints{
    padding-top: 130px;
    height: 100vh;
    .container{
        width: 1200px;
        margin: auto;
        text-align: center;
        position: relative;
    }
    h2{
        padding-bottom: 35px;
        font-size: 36px;
        font-weight: 300;
    }
    .outline::after{
        content:"" ;
        position: absolute;
        z-index: -1;
        width: 225px;
        height: 60px;
        background-image: url("img/outlineGrid.png");
    }
    .areas{
        display: flex;
        font-weight: 300;
        .info{
            // background-image: url("img/areaBg.png");
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
        }
        .taipei{
            width: 530px;
            height: 280px;
            background-color: burlywood;
            text-align: start;
            
        }

    }
    
}