#salePoints{
  .description{
  
  }
  .map{
    position: relative;
   
    img{
      position: absolute;
      top: 235px;
      right: 100px;
      z-index: 1;
    }
  }
}

#first{
  margin: 0 0 20px 0;
}
#second{
  margin: 0 0 40px 0;
}
#third{
  padding: 130px 0 28px 0;
  font-size: 36px;
}
.col{
  ba
}

