#locations{
    padding: 50px 0;
}
#locations .cards{
    width: 540px;
    height: 580px;
    background-image:url(img/cardBg.png);
    margin: auto;
    background-size: cover;
    position: relative;
    padding: 10px 0 0 0 ;
    
}
#locations .cards::after{
    content: '';
    width: 540px;
    height:570px;
    background-image: url(img/gridBig.png);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}
#locations .cards::before{
    content: '';
    width: 509px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: -2;
}
.container{
    width: 370px;
    margin: auto;
    text-align: center;
      
}
#different{
    margin: 20px 0;
    width: 100%;

    text-align: left;
    padding: 10px;
}
.phone{
    width: 92px;
    background-color: palevioletred;    
}
P{
    font-size: 16px;
    line-height: 14px;
}
.underLine{
    border-top: solid;
    border-color: #969696;   
}
